.pagination button {
    text-align: center;
    width: 32px;
    height: 32px;
    color: black;
    float: left;
    transition: background-color .3s;
    border-radius: 8px;
    border-style: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 5px;
}

.pagination button.active {
    background-color: #56D9D9;
    color: black;
}

.pagination button:hover:not(.active) {
    background-color: #F6F6F6;
}

.pagination {
    margin: 30px;
}