<div class="body">
    <header>
        <div class="navigation-bar">
            <div id="left" class="container left">
                <div class="container">
                    <img class="logo" src={{logoPath}} alt={{title}}>
                    <h2 class="title">{{title}}</h2>
                </div>
                <div class="container">
                    <a routerLink="/">Home</a>
                </div>
            </div>
            <div class="container" *ngIf="isLoggedIn$ | async; else login">
                <div class="search">
                    <input type="text" placeholder="Search" (keyup)="search($event)">
                </div>
                <div>
                    <!-- <p></p> -->
                </div>
                <a routerLink="/">Cart ({{ Cart$ | async }})</a>
            </div>
            <ng-template #login>
                <div class="container">
                    <a routerLink="/login">Login</a>
                </div>
            </ng-template>
        </div>
    </header>
    <div id="page">
        <!-- <div class="login"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
    </div>
    <div>
        <footer>
            <div class="footer">
                <div class="container left">
                    <div class="container">
                        <img class="logo" src={{logoPath}} alt={{title}}>
                        <h2 style="color: white;" class="title">{{title}}</h2>
                    </div>
                </div>

                <div class="container">
                    <h5 style="color: #98A2B3;">© 2022 ClickTik</h5>
                </div>
            </div>
        </footer>
    </div>
</div>